
<% @posts.each do | post | %>
  <div className="row">
    <div className="col-md-6 col-md-offset-3">
        <div className="row">
          <% post.images.each do | uploaded | %>
            <div className="col-md-6">
              <%= image_tag uploaded.image.url(:medium) %>
            </div>
          <% end %>
          <div className="col-md-6">
            <p> Title: <%= post.title %></p>
            <p> Content: <%= post.content %></p>
          </div>
        </div>
    </div>
  </div>
<% end %>

<%= link_to 'New Post', new_post_path %>